  <!DOCTYPE html>
  <html lang="en">
  <%-include("../partials/head") %>
  <body>
    <div class="container my-4 d-flex align-items-center justify-content-center" style="width:45vw">
        <div class="p-6 mt-4 ">
        <h1 class="text-center text-warning">Add Product</h1>
        <hr class="text-success">
      
      <form method="post" class="row g-3" enctype="multipart/form-data" action="/agent/product/add">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="name" aria-describedby="product-name" placeholder="product name">
        </div>
        <div class="input-group mb-3">
        <input type="file" class="form-control" name="image" id="inputGroupFile01">
      </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="description" id="exampleInputPassword1" placeholder="product-description">
        </div>
        <div class="mb-3">
          <div class="input-group-prepend">
          <div class="input-group-text">₦</div>
        </div> <input type="number" name="price" class="form-control" id="exampleCheck1" min="10" step="" style=" padding-left:20px;
        text-align:left;">
        </div>
        <button type="submit" class="btn btn-warning">Add</button>
      </form>
      </div>
      </div>
      
      <%-include("../partials/foot") %>
  </body>
  </html>